/* Container for the entire Sudoku grid */

/* 9x9 grid creation */
.grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px); 
    width: fit-content;
    border: 1px solid #2a352c;
    box-shadow: #0000007c 0px 0px 10px;
  }

.inner-grid-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin-top: 0px;
}

.grid.delete {
    border: 1px solid #411818;
    box-shadow: #b32f2f 0px 0px 20px;
  }

  .grid.create {
    border: 1px solid #2a352c;
    box-shadow: #e0ae25 0px 0px 20px;
  }

  .grid.setting{
    border: 1px solid #2a352c;
    box-shadow: #ab25e0 0px 0px 20px;
  }
  
  /* Individual cells */
  .cell {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
    padding: 0px;
    border: 1.5px solid #647463db;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: transparent;
  }

  .cell input:hover {
    cursor: pointer;
  }

/* Add thicker borders to delineate the 3x3 cubes */
.cell:nth-child(3n) {
    border-bottom: 3px solid #000;
  }
  
  .cell:nth-child(1) {
    border-top: 3px solid #000;
  }
  
  .col:nth-child(3n+1) .cell {
    border-left: 3px solid #000;
  }
  
  .col:nth-child(9) .cell {
    border-right: 3px solid #000;
  }
  
  /* Specialist cell css */
  /* Some of this can and should be deleted but I am not sure what I need yet exactly */

  .box-sum-displayer {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
  }

  .cell.focus {
    outline: none;
    border-color: rgb(70, 70, 209);
  }
  
  .cell.selected {
    background-color: #b3e7d0; 
    box-shadow: 0 0 10px rgba(95, 244, 239, 0.499);

  }

  .cell.incorrect {
    background-color: #ffcccc; 
  }

  .cell.incorrect:focus {
    outline: none;
    background-color:#ffcccc; 
    border-color: rgb(209, 70, 70);
  }

  .cell.box-add-highlight {
    box-shadow: 0 0 10px rgb(244, 239, 95);
    background-color:#ffd43a;
    border: 2px solid black
  }

  .cell.box-highlight {
    border: 2px solid rgba(0, 0, 0, 0.831)
  }

  .alert {
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #791313;
    border-radius: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }