/* Container */
.killer-buttons {
    display: flex;
    height: 75px;
    width: 740px;
    background-color: #659a81;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-top: 10px;
}

/* General button styles */

.killer-button {
    width: 160px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}

.killer-button:hover {
    border-color: #000;
}

.killer-button:focus {
    outline: none;
}

/* Specific button styles */
.delete-box-button {
    background-color: #d1c4e9;
    color: #333;
}

.delete-box-button:hover {
    background-color: #b39ddb;
}

.set-box-total-button {
    background-color: #c5cae9;
    color: #333;
}

.set-box-total-button:hover {
    background-color: #9fa8da;
}

.create-box-button {
    background-color: #ffccbc;
    color: #333;
}

.create-box-button:hover {
    background-color: #ffab91;
}

.toggle-color-button {
    background-color: rgba(162, 253, 177, 0.6);
}

.toggle-color-button:hover {
    box-shadow: 0 0 10px rgba(27, 75, 40, 0.657);
    transform: scale(1.01);
}

/* Form */

.submit-button {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: #64edeb;
    align-self: center;
    color: #3e3e3e;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 2px solid #647b83;
}

.submit-button:hover {
    background-color: #6fdedc;
    cursor: pointer;
    border: 2px solid #647b83;
    box-shadow: 0 0 10px rgba(27, 75, 40, 0.657);
}

.submit-holder {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.form-input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    align-self: center;
    text-align: center;
    caret-color: transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.form-input:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02); /* Slightly increase size for hover */
    cursor: pointer;
}

.form-input:focus {
    border-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.03); /* Add a subtle scale effect for focus */
}

.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Media */
@media (max-width: 790px) {
    .inner-killer-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
    }

    .killer-button {
        width: 170px;
        margin-right: 20px;
        margin-left: 20px   ;
    }

    .delete-box-button{
        justify-self: right;
    }

    .create-box-button {
        justify-self: right;
    }

    .killer-buttons {
        width: 440px;
        height: 140px;
    }

}

.highlight-button {
    border: 2px solid #a5050574;
    box-shadow: #793232 0px 0px 20px;
}

.highlight-button:hover {
    border: 2px solid #a5050598;
    box-shadow: #793232 0px 0px 20px;
}


/* Colors */
/* Not accurate to name */
.red { background-color: rgba(255, 0, 0, 0.6); }
.green { background-color: rgba(0, 255, 0, 0.6); }
.blue { background-color: rgba(0, 0, 255, 0.6); }
.yellow { background-color: rgb(255, 255, 0); }
.cyan { background-color: rgba(0, 255, 255, 0.6); }
.magenta { background-color: rgba(255, 0, 255, 0.6); }
.maroon { background-color: rgba(128, 0, 0, 0.6); }
.dark-green { background-color: rgba(0, 128, 0, 0.6); }
.navy { background-color: rgb(37, 146, 255); }
.olive { background-color: rgba(128, 128, 0, 0.6); }
.purple { background-color: rgba(144, 59, 144, 0.763); }
.teal { background-color: rgba(181, 255, 255, 0.983); }
.orange { background-color: rgba(255, 165, 0, 0.6); }
.indigo { background-color: rgba(75, 0, 130, 0.6); }
.violet { background-color: rgba(238, 130, 238, 0.6); }
.saddle-brown { background-color: rgba(139, 69, 19, 0.6); }
.spring-green { background-color: rgba(0, 255, 127, 0.6); }
.steel-blue { background-color: rgba(70, 130, 180, 0.6); }
.khaki { background-color: rgba(240, 230, 140, 0.6); }
.crimson { background-color: rgba(220, 20, 60, 0.6); }
.pink { background-color: rgb(255, 170, 0); }
.lavender { background-color: rgb(236, 162, 255); }
.peach { background-color: rgba(255, 218, 185, 0.6); }
.sky-blue { background-color: rgba(135, 206, 235, 0.6); }
.light-green { background-color: rgba(144, 238, 144, 0.6); }
.gold { background-color: rgba(255, 215, 0, 0.6); }
.turquoise { background-color: rgba(64, 224, 208, 0.6); }
.coral { background-color: rgba(255, 127, 80, 0.6); }
.mint { background-color: rgba(189, 252, 201, 0.6); }
.apricot { background-color: rgb(255, 0, 238); }
.rose { background-color: rgb(241, 121, 108); }
.periwinkle { background-color: rgba(204, 204, 255, 0.6); }
.salmon { background-color: rgba(250, 128, 114, 0.6); }
.plum { background-color: rgba(221, 160, 221, 0.6); }
.soft-yellow { background-color: rgb(255, 250, 205); }
.baby-blue { background-color: rgba(137, 207, 240, 0.6); }
.powder-pink { background-color: rgba(255, 182, 193, 0.6); }
.aqua { background-color: rgb(162, 253, 177); }
.beige { background-color: rgba(245, 245, 220, 0.6); }
.pastel-purple { background-color: rgb(210, 158, 210); }
.seashell { background-color: rgba(255, 245, 238, 0.6); }
.honeydew { background-color: rgba(79, 97, 185, 0.886); }
.canary-yellow { background-color: rgb(255, 0, 0); }
.misty-rose { background-color: rgba(255, 228, 225, 0.6); }
.light-coral { background-color: rgba(240, 128, 128, 0.6); }
.sage { background-color: rgba(188, 184, 138, 0.6); }
.blush { background-color: rgba(222, 93, 131, 0.6); }
.almond { background-color: rgba(239, 222, 205, 0.6); }
.pale-gold { background-color: rgba(253, 239, 198, 0.6); }
.cream { background-color: rgba(255, 253, 208, 0.6); }
.pearl { background-color: rgba(255, 244, 218, 0.6); }
.sand { background-color: rgba(249, 249, 119, 0.6); }
.copper { background-color: rgba(194, 135, 80, 0.6); }
.rust { background-color: rgba(168, 23, 67, 0.6); }
.light-teal { background-color: rgba(113, 223, 177, 0.793); }
.mauve { background-color: rgba(208, 153, 244, 0.6); }
.soft-orange { background-color: rgba(243, 148, 24, 0.6); }
.ivory { background-color: rgba(252, 252, 176, 0.6); }
.light-gray { background-color: rgba(195, 107, 107, 0.6); }
.champagne { background-color: rgba(232, 216, 190, 0.6); }
.peacock-blue { background-color: rgba(51, 102, 255, 0.6); }
.caramel { background-color: rgba(205, 139, 92, 0.6); }
.orchid { background-color: rgba(232, 130, 228, 0.6); }
.silver { background-color: rgba(176, 155, 155, 0.6); }
.emerald { background-color: rgba(34, 241, 103, 0.672); }
.jade { background-color: rgba(79, 154, 126, 0.6); }
.sunset { background-color: rgba(255, 94, 77, 0.6); }
.cerulean { background-color: rgba(42, 82, 190, 0.6); }
.topaz { background-color: rgba(217, 255, 0, 0.6); }
.amethyst { background-color: rgba(144, 74, 215, 0.6); }
.mocha { background-color: rgba(255, 221, 136, 0.6); }
.soft-lavender { background-color: rgba(141, 141, 252, 0.6); }
.cloud { background-color: rgba(200, 227, 255, 0.6); }
.buttercream { background-color: rgba(246, 224, 163, 0.613); }
.powder-blue { background-color: rgba(24, 228, 255, 0.6); }
.moonstone { background-color: rgba(115, 131, 251, 0.6); }
.sunrise { background-color: rgba(248, 178, 108, 0.6); }
.dew { background-color: rgba(255, 98, 169, 0.555); }
.opal { background-color: rgba(253, 255, 106, 0.6); }
.quartz { background-color: rgba(108, 223, 115, 0.6); }
.ice-blue { background-color: rgba(220, 101, 226, 0.6); }
.white-smoke { background-color: rgba(57, 197, 236, 0.6); }
