/* For all buttons */
span {
    font-size: 10px;
}

.top-nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.top-nav-button{
    width: 160px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 30px;
}

.top-nav-button:hover {
    border: 1px solid #000000;
}

.top-nav-button:focus {
    outline: none;
}

/* Specific buttons + Hover */
.undo-button {
    background-color: #e9e5d3;
    color: #333333;
}

.undo-button:hover {
    background-color: #f1be8b;
}

.save-button {
    background-color: #bde2dd;
    color: #333333;
}

.save-button:hover {
    background-color:#8ec9ca;
}

.reset-button {
    background-color: #f8c7c1;
    color: #333333;
}

.reset-button:hover {
    background-color: #f28c87;
}

.toggle-killer-button {
    background-color: rgb(212, 149, 149);
    color: rgb(70, 21, 21);
    border: 1px solid rgb(70, 21, 21);
    box-shadow: 0 0 10px rgba(27, 75, 40, 0.657);
    transform: scale(1.01)
}

.toggle-killer-button:hover {
    background-color: rgb(198, 133, 133);
}

.exit-killer-mode {
    background-color: rgb(212, 207, 149);
    color: rgb(70, 67, 21);
    border: 1px solid rgb(70, 69, 21);
}

.exit-killer-mode:hover {
    background-color: rgb(174, 176, 141);
}

@media (max-width: 750px) {
    .top-nav-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .undo-button {
        justify-self: right;
    }
    .save-button {
        justify-self: right;
    }
}