h1 {
    text-align: center;
    color: rgba(109, 31, 31, 0.834);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.hidden{
    display: none;
}